body {
    font-family: 'Roboto Mono', monospace;
    color: white;
}

.jg_name {
    font-family: 'Inconsolata', monospace;
}

.footer_align,
.footer_align:hover,
.footer_align:focus {
    /* position: fixed; */
    float: right;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 30px;
    color: #070707;
}

.container {
    /* max-width: 1440px; */
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font-size: 65px;
    font-weight: 400;
}

h2 {
    font-size: 65px;
    font-weight: 300;
}

@media (min-width: 1440px) {
    .container {
        width: 1440px;
    }
}

@media (min-width: 375px) {
    h2 {
        font-size: 55px;
    }
}

a,
a:hover,
a:focus {
    text-decoration: none;
    cursor: nw-resize;
}

p {
    letter-spacing: 5px;
}